body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: fit-content;
    font-size: 82px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #2A5655;
    color: white;
    font-size: 48px;
    width: fit-content;
    padding: 3px 10px;
}

h3 {
    font-size: 25px;
    color: rgb(233, 94, 84);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 35px;
}

p {
    font-size: 30px;
    width: 60%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.text-link {
    text-decoration: underline;
    text-decoration-color: #e95e54;
    font-weight: 400;
    color: black;
}

.text-link:visited {
    color: black;
}
.text-link:hover {
    color: #e95e54;
}
/*** HEADER ***/

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #3F8C7B;
    background-image: linear-gradient(rgba(89, 149, 129, 0),rgba(42, 86, 84, 0.5)), url(./assets/Header_v03.png);
    background-size: cover;
    background-position-y: 80%;
    min-height: 500px;
}

header h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-transform: none;
    background: none;
}

header h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 28px;
    margin: 0;
}

header h3 span {
    font-weight: 400;
}

.headline {
    width: 30%;
    z-index: 1;
}

.links {
    display: inline-flex;
    justify-content: flex-end;
    width: 30%;
    min-height: 500px;
    padding-top: 75px;
    z-index: 1;
}

.some {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 6px;
}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    right: 18%;
    bottom: -40px;
    width: 333px;
    height: 333px;
    border: 5px solid white;
}

/*** MAIN SECTION **/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    box-sizing: border-box;
    padding: 50px;

}

/** SUMMARY **/

.summary-section {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F3F1;
}

.summary-container {
    display: block;
    padding: 0;
    width: 60%;
    margin: 50px 0;
}

.summary-container p {
    padding: 0;
    margin: 0;
    width: 100%;
}

.summary-symbol {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
    shape-outside: inset(0px 0px 0px 0px);
    width: 100px;
    height: 35px;
    margin-right: 10px;
}

.line {
    width: 80px;
    height: 5px;
    background-color: #e95e54;;
    border-radius: 5px;
}

.circle {
    width: 20px;
    height: 20px;
    margin-left: -2px;
    background-color: #e95e54;;
    border-radius: 50%;
}

/** TECH **/

.highlight {
    color: #e95e54;
    font-weight: 700;
}

.tech-section p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/** PROJECTS **/

.projects-section {
    background-color: #F5F3F1;
}

.featured-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    max-width: 1550px;
    margin-bottom: 50px;
}

.project {
    margin: 30px 0;
    width: 522px;
}

.tint {
    margin: 0;
    padding: 0;
    width: 522px;
    height: 309px;
    position: relative;
}

.tint img {
    border-radius: 8px;
}

.tint h3 {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.tint:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:  rgba(233, 94, 84, 0.8);
    background: linear-gradient(45deg, rgba(233, 94, 84, 0.7),rgba(233, 94, 84, 0.5));
    background: linear-gradient(45deg, rgba(121, 45, 45, 0.8),rgba(143, 52, 52, 0.5));
    background: linear-gradient(45deg, rgba(42, 86, 84, 0.95), rgba(89, 149, 129, 0.8));
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 8px;
} 

.tint:hover:before {
    opacity: 1;
}

.tint:hover h3 {
    opacity: 1;
}

.featured-projects p {
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    color: black;
}

.project-description {
    width: 100%;
    font-weight: 400;
    color: black;
    text-transform: none;
}

.techniques {
    background-color: #2A5655;
    font-size: 16px;
    padding: 5px 14px;
    margin-right: 3px;
    color: white;
    font-weight: 400;
}

.tech-used {
    margin-top: 20px;
}

.other-projects .project-description {
    text-decoration: underline;
    text-decoration-color: #000;
}

.other-projects h3 {
    text-decoration: underline;
    text-decoration-color: #e95e54;
}

.other-projects a:visited {
    text-decoration-color: #000;
}


.projects-section h2:nth-of-type(2) {
    color: #2A5655;
    background-color: transparent;
    font-size: 38px;
}

.other-projects {
    width: 60%;
}

/** SKILLS **/

.skills-section {
    background-color: #F5F3F1;
}

.skills-section div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 60%;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

/** MORE **/

.more-links {
    display: inline-flex;
    justify-content: center;
    width: 60%;
    margin-bottom: 40px;
}

.more-links .some {
    border: 2px solid #e95e54;
    margin: 25px auto;
    width: 160px;
    height: 160px;
} 

.more-links img {
    transform: scale(1.5);
}

.more-links a {
    width: 300px;
    text-align: center;
    color: #FA382F;
    color: #e95e54;
    margin: 0 20px;
    font-size: 25px;
    text-transform: uppercase;
}

.thought {
    width: 513px;
}

.thought p {
    font-size: 25px;
    font-weight: 400;
    color: rgb(0,0,0);
    width: 100%;
    margin: 5px 0;
}

.thought h4 {
    font-size: 25px;
    color: rgb(233, 94, 84);
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px 0;
    line-height: 35px;
}

.thought h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: none;
    margin: 5px 0;
    line-height: 35px;
}

.thought img {
    width: 100%;
}

.arrows {
    color: rgb(233, 94, 84);
    font-weight: 700;
}


/** FOOTER **/ 

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: #072BCE;
    background-color: rgb(233, 94, 84);
    background-color: #2A5655;
    color: white;
    text-align: center;

}

footer h2 {
    background: none;
    font-size: 38px;


}

footer p {
    width: 100%;
    margin: 6px;
}

/** MOBILE **/

@media only screen and (max-width: 575px){

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 17px;
        line-height: 22px;
    }

    p {
        font-size: 17px;
        width: 80%;
    }

    /* Header */

    header {
        flex-direction: column-reverse;
        justify-content: flex-end;
        background: linear-gradient(rgba(89, 149, 129, 0),rgba(42, 86, 84, 0.5)), url(./assets/Header_Mobile_v01.png);
    }

    header h2 {
        font-size: 24px;
    }

    header h3 {
        font-size: 13px;
    }

    .headline {
        width: 90%;
    }

    .profile-pic {
        width: 160px;
        height: 160px;
        right: 5%;
    }

    .links {
        min-height: auto;
        padding-top: 50px;
        margin-bottom: 20px;
        width: 90%;
    }

    .some {
        width: 50px;
        height: 50px;
    }

    .some img {
        transform: scale(0.6);
    }

    /* Main */

    section {
        min-height: 200px;
        padding: 20px 0;
    }

    /* Summary */

    .summary-container {
        width: 80%;
    }

    .summary-symbol {
        shape-outside: inset(0px 0px 0px 0px);
        width: 50px;
        height: 17px;
    }

    .circle {
        width: 12px;
        height: 12px;
    }

    .line {
        width: 40px;
        height: 3px;
    }

    /* Projects */ 

    .project {
        width: 303px;
    }

    .projects-section h2:nth-of-type(2) {
        font-size: 22px;
    }

    .project p {
        font-size: 17px;
    }

    .project img {
        width: 303px;
        height: 179px;
        object-fit: cover;
    }

    .tint {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .techniques {
        font-size: 9px;
        padding: 2px 7px;
    }

    .other-projects {
        width: 80%;
    }

    /* Skills */

    .skills-section div {
        width: 90%;
    }

    ul{
        font-size: 15px;
    }

    /* Thoughts */

    .thought {
        width: 80%;
    }

    .thought p, .thought h4 {
        font-size: 17px;
    }

    .thought h3 {
        font-size: 22px;
        line-height: 22px;

    }

    /* More */

    .more-links {
        width: 90%;
    }

    .more-links .some {
        width: 60px;
        height: 60px;
        
    }

    .more-links a {
        width: 100px;
        font-size: 13px;
        margin: 0;
    }

    .more-links img {
        transform: scale(0.75);
    }

    footer h2 {
        font-size: 22px;
    }
}

/** TABLET **/

@media screen and (min-width: 576px) and (max-width: 1200px){ 

    /* Header */

    header {
        flex-direction: column-reverse;
        justify-content: flex-end;
        background: linear-gradient(rgba(89, 149, 129, 0),rgba(42, 86, 84, 0.5)), url(./assets/Header_Tablet_v01.png);
    }

    .links {
        min-height: auto;
        padding-top: 50px;
        margin-bottom: 20px;
        width: 100%;
        transform: scale(0.8);
    }

    .headline {
        width: 90%;
    }

    h1 {
        font-size: 60px;
    }

    p {
        width: 80%;
    }

    header h2 {
        font-size: 40px;
    }

    header h3 {
        font-size: 23px;
    }

    .profile-pic {
        width: 225px;
        height: 225px;
        right: 10%;
    }

    .summary-container {
        width: 80%;
    }

    .other-projects {
        width: 80%;
    }

    .skills-section div {
        width: 80%;
    }

    /* More */

    .more-links {
        width: 90%;
    }

    .more-links .some {
        width: 100px;
        height: 100px;
    }

    .more-links a {
        width: 200px;
        font-size: 20px;
        margin: 0;
    }

    .more-links img {
        transform: scale(1);
    }

}

/* Color Theme Swatches in Hex */
.red {color: #e95e54; }
.Light-Green-1-hex { color: #2A5655; }
.Light-Green-2-hex { color: #3F8C7B; }
.Light-Green-3-hex { color: #C0D8C5; }
.Light-Green-4-hex { color: #F0EAD9; }
.Light-Green-5-hex { color: #F5F3F1; }

/* Color Theme Swatches in RGBA */
.Light-Green-1-rgba { color: rgba(42, 86, 84, 1); }
.Light-Green-2-rgba { color: rgba(63, 140, 123, 1); }
.Light-Green-3-rgba { color: rgba(191, 216, 196, 1); }
.Light-Green-4-rgba { color: rgba(239, 233, 216, 1); }
.Light-Green-5-rgba { color: rgba(244, 242, 240, 1); }
